


/****************** Special Blank CSS classes for child themes to use without disturbing core bootstrap styles ****************/

.dmbs-container {
}
.dmbs-header {
}
.dmbs-header-img {
}
.dmbs-header-text {
}
.dmbs-top-menu {
	padding: 0 15px 0 15px;
	background-color: #EAEBEB;
}
.dmbs-content {
	margin: 0 auto;
	width: 100%;/*max-width:980px;*/
	/*text-align:center;*/
}
/*.category .dmbs-content,
.single .dmbs-content,
.page-template-template-news-single-php .dmbs-content
{
	max-width:980px;
}*/

.single .dmbs-content, .category .dmbs-content {
	text-align: left;
}
.dmbs-main {
	padding-top: 45px;
	margin: 350px 0 0 0;
	/*border-top: 328px solid #303639;*/
	padding-left: 0;
	padding-right: 0
}
.dmbs-left {
}
.dmbs-right {
}
.dmbs-footer-menu {
}
.dmbs-author-credits {
}
/************************************************** Main styles **************************************************/
.internal-container a
{
	color:#AFB700;
}

.internal-container a.btn,
a.btn,
a.latest-items,
.internal-container a.latest-items
{
	color:#FFFFFF;
}


a,
.internal-container a.bread-crumb,
a.bread-crumb,
.internal-container .ul.nav-tabs a,
.ul.nav-tabs a,
a.job-a,
.internal-container a.job-a
{
	color: #333333;
	font-size: 1.6rem;
}




h3 {
	font-size: 2.6em;
	margin-top: 0;
	color: #666666;
}

.news-main-title
{
	margin-top: 30px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.single h3 {
	font-size: 3em;
	margin-bottom: 1em;
}
h4 {
	font-size: 2em;
	margin-top: 0;
	color: #666666;
}
p, ul, ol, label {
	font-size: 1.6rem;
	color: #666666;
	font-weight: normal;
}
p
{
	margin: 0 0 20px;
}
.hand
{
	cursor:pointer;
}

html tr.noBorder td
{
	border-top: 0;
}

.post-content
{
	padding-bottom: 40px; /* Add padding under main text area*/
}

/********* make last nav option open to the left ************/

/* Technology */
#menu-main-menu .menu-item:last-of-type .dropdown-menu {
	left: auto;
	right: 0;
}

/* Engineering */
#menu-primary-menu .menu-item:last-of-type .dropdown-menu {
	left: auto;
	right: 0;
}

.addtoany_share_save_container {
	clear: both;
	margin: 0;
	padding: 20px 0;
}
.post-entry ul, .post-entry ol {
	padding: 0;
	margin: 0;
	position: relative;
	left: 30px;
	margin-right: 15px;
}
.post-entry ul li {
}
.nav-logo {
	display: block;
	margin: 15px 0 0 15px;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 0;
}
.bs-col-centred {
	display: block;
	margin: 0 auto;
	float: none;
}
/********* Override boostrap container to get full width ************/

.container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

/********* Override boostrap carousel indicators z-index ************/
.carousel-indicators
{
	z-index:1;
}

/***************** Newsletter form ********************/



.btn-mobile {
	display: none;
}
.newsletter-form label {
	display: block;
}

@media screen and (max-width: 768px) {
.btn-mobile {
	display: block;
}
.btn-desktop {
	display: none;
}
.newsletter-form input[type="checkbox"] {
	margin: 0 10px 0 5px;
	padding: 0;
	position: static;
}
.newsletter-form .checkbox label {
	padding: 10px 0 10px 0;
	background-color: #f5f5f5;
	display: block;
}
}

/***************** Partners page ********************/

.partners img
{
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	padding: 30px;
	display: block;
}

/***************** blockquote ********************/


blockquote {
	/*font-family: Georgia, serif;*/
	font-size: 18px;
	font-style: italic;
	width: 80%;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	border-left: none;
}
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}
blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
blockquote cite:before {
	content: "\2014 \2009";
}
/******************   location skylines ***************************/


.skyline {
	background-repeat: no-repeat;
	background-position: center 60px;
	text-align: center;
	height: 250px;
	overflow: hidden;
	background-size: 175px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
.skyline:hover {
	text-decoration: none;
	background-size: 190px;
	background-position: center 50px;
}
.skyline:hover h2 {
	font-size: 32px;
	margin-top: 18px;
}
.skyline h2 {
	color: #FFFFFF;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
/*.skyline-hatfield h2,
.skyline-sofia h2
{
	color:#CCE7F1;
}
.skyline-krakow h2,
.skyline-barcelona h2
{
	color:#FEF2D6;
}
.skyline-wroclow h2
{
	color:#D7E9C9;
}*/

.skyline-hatfield {
	background-image: url('/web/20180224095453im_/https://ocadotechnology.com/wp-content/images/skyline-hatfield.png');
	background-color: #00A0D4;
}
.skyline-krakow {
	background-image: url('/web/20180224095453im_/https://ocadotechnology.com/wp-content/images/skyline-krakow.png');
	background-color: #E68132;
}
.skyline-wroclow {
	background-image: url('/web/20180224095453im_/https://ocadotechnology.com/wp-content/images/skyline-wroclow.png');
	background-color: #A1B23E;
}
.skyline-sofia {
	background-image: url('/web/20180224095453im_/https://ocadotechnology.com/wp-content/images/skyline-sofia.png');
	background-color: #00A0D4;
}
.skyline-barcelona {
	background-image: url('/web/20180224095453im_/https://ocadotechnology.com/wp-content/images/skyline-barcelona.png');
	background-color: #E68132;
}




.bread-crumb {
	margin-bottom: 20px;
}
/************* sidebar accordion **********************/

.panel-group {
	margin-bottom: 0;
}
ul.author-post-list {
	padding-left: 0;
	margin-left: 0;
}




/************* News and events template *******************/

.page-template-template-news-events .internal-container h3 {
	margin-bottom: 0;
}
.page-template-template-news-events .internal-container p {
	font-size: 1.4rem;
}

/********************Pagination ***********************/

.pgntn-page-pagination a, .pgntn-page-pagination-intro, .pgntn-page-pagination .current {
	color: #333333 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 8px !important;
	float: left;
	height: 40px;
}
/*************************************************/

.page-template-template-news-single-php .dmbs-content .internal-container h3 {
	border-top: 1px solid #f5f5f5;
	padding-top: 10px;
}
html tr.tr-no-border td {
	border-top: none;
}
.dmbs-comments {
	margin-top: 20px;
}
.author-date
{
	color: #666666;
	background-color:#F7F7F7;
	padding:10px;
	display:block;
	border-bottom: 3px solid #e7e7e7;
	text-align:right;
}
.author-date a
{
	font-weight:bold;
	color: #666666;
}
.single .author-date
{
	border-bottom:none;
	/*text-align:right;*/
	margin-bottom:20px;
}

.category-item {
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: #333333;
	position: relative;
	/*border-bottom: 1px solid #f5f5f5;*/
	padding-top: 40px;
	padding-bottom: 20px;
	clear:both;
}
.category-item:hover {
	text-decoration: none;
	color: #333333;
}
.read-more {
	font-size: 1.2em;
	position: absolute;
	bottom: -15px;
	right: 15px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}
.category-item:hover .read-more {
	visibility: visible;
	opacity: 1;
}
.category-thumbnail {
	width: 100%;
	/*max-width:150px;*/
	height: auto;
	margin-right: 15px;
	display: block;
}
.single-thumbnail {
	float: left;
	margin-right: 15px;
	display: block;
}


/******************* News menu selected when viewing post*****************************/

#menu-news-and-events .current-post-ancestor a {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fff;
	border-color: #ddd #ddd transparent;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #555555;
	cursor: default;
}
/************************************************/

/*************** Tab menu styles ********************/

.nav-tabs .active
{
	font-weight: bold;
}

ul.nav-tabs a
{
	font-size:2rem;	
}

/******* Change tabs for mobile  ********/

@media screen and (max-width: 700px) {
    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:100%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:1px solid #ddd!important;
        margin: 0px;
    }
}

/***************/

/*********cookie button**************/
#catapultCookie
{
color:#666666;	
}

/*************** Video popup ********************/

	#videoModal
	{
		z-index: 1041;
	}
/***************/



/*************** youtube playlist ********************/

.repeat-image .youtube_thumb img
{
	float: left;
	width: 70px;
	margin: 0 15px 0 23px;
	
}

.youtube_thumb
{
	clear: both;
	overflow: hidden;
	display: block;
	line-height: normal;
	background-color: #333333;
	margin-bottom: 3px;
	padding: 3px;
	color: #CCCCCC;
}

.youtube_thumb:hover
{
	background-color: #999999;
	color: #FFFFFF;
	text-decoration: none;
}
.youtube_thumb .yplay
{
	position:absolute;
	margin:15px 0 0 -105px;
	z-index: 2;
	color:#c03636;
}
/***************/




/******  Change buttons to brand colours  *********/
.btn-success
{
	background-color:#AFB700;
	border:none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active
{
	background-color:#959C03!important;
	border:none;
}


.btn-info
{
	background-color:#00a3e0;
	border:none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active
{
	background-color:#0783b1!important;
	border:none;
}

.btn-primary
{
	background-color:#54585a;
	border:none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active
{
	background-color:#b2b4b2!important;
	border:none;
}



/***************/

/**** contact form 7 checkboxes vertical****/

span.wpcf7-list-item { display: block; }


/**** latest blog posts ****/

   .latest-items
	   {
		width: 100%;
		display: block;
		height: 200px;
		background-repeat: no-repeat;
		background-position: center top;
		text-align: center;
		position: relative;
		margin-bottom: 10px;
		background-size: 100%;
		color:#FFFFFF;	
	   }
	   .latest-items:hover
	   {
		   color:#FFFFFF;
		   
	   }
	   .latest-items span
	   {
		   background-color:#000000;
		   opacity:0.7;
		   display:block;
		   height:60px;
		   max-height:60px;
		   position:absolute;
		   bottom:0;
		   width:100%;
		   padding:5px; 
		   transition: opacity .3s ease-in-out;
		   -moz-transition: opacity .3s ease-in-out;
		   -webkit-transition: opacity .3s ease-in-out;
		   
		   -webkit-transition: background-color .3s ease-out;
		   -moz-transition: background-color .3s ease-out;
			-o-transition: background-color .3s ease-out;
			transition: background-color .3s ease-out;
	
	   }
	   .latest-items:hover span
	   {
		 
		   opacity:1;
		   background-color:#AFB700;
	   }
	   
/***************/

/* allows application of the shaded area on non-dynamic pages*/
.hard-coded-shaded
{
	background-color:#f5f5f5;
	margin:20px 0;
}



/******  Allows youtube iframe to be responsive  *******/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/******** Classes that add margin and padding **************/

.mt-20 {
  margin-top: 20px !important;
}
.mb-20
{
	 margin-bottom: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pb-20
{
	 padding-bottom: 20px !important;
}
.pl-20
{
	 padding-left: 20px !important;
}
.pr-20
{
	 padding-right: 20px !important;
}
.p-20
{
	 padding: 20px !important;
}
.m-0
{
	margin:0 !important;
}
.p-0
{
	padding:0 !important;
}

/**********  Classes to add rounded edges  ***********/

.border-radius-5
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.border-radius-10
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.border-radius-tr-0
{
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
}

/**********  make sure images resize on mobile  ***********/

@media screen and (max-width: 768px) {
	
	img.aligncenter
	{
		width:100%;
		height:auto;
	}

}

/**********  add some extra spacing on edges for mobile  ***********/

@media screen and (max-width: 768px) {
	
	#main-content .internal-container
	{
		padding:0;
		margin:0 15px;
	}

}

/**********  resize blog thumbnails on smaller mobiles  ***********/
@media screen and (max-width: 320px) {

.single-thumbnail
{
	width:100%;
}

}
.hover-opacity
{
	 opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.hover-opacity:hover
{
	opacity:.7;
}

